@foreach (var book in Model)
{
    <div class="card">
        <img src="@book.RefImg" alt="@book.Name" />
        <h3>@book.Name</h3>
        <p>@book.Author</p>
        <p>Статус: @book.Status</p>
        <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Подробнее</a>
    </div>
}