@model IEnumerable<Library_Mvc.Models.DtoModels.BookStatusDto>

<h2>Личный кабинет</h2>
<div class="cards">
    @foreach(var book in Model)
    {
        <div class="card">
            <img src="@book.RefImg" alt="@book.Name" />
            <h3>@book.Name</h3>
            <p>@book.Author</p>
            <p>Статус: @book.Status</p>
        </div>
    }
</div>